@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
body {
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  color: #303030;
  flex-direction: column;
  background-image: url(../../assets/wallpaper.png);
  backdrop-filter: blur(8px);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
}
header #navbar {
  background-color: #141e05 !important;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 0 !important;
  padding: 2rem 0;
}
header #navbar .logoCasaTerra {
  padding: 0;
  margin: 0;
  height: 4rem;
  image-rendering: optimizeQuality;
}
header #navbar a {
  margin: 0;
}

.collapse:not(.show) .nav-link {
  font-size: 1.1rem;
  color: #ffffff !important;
  padding: 0 1.5rem !important;
}

.menu:focus {
  box-shadow: none;
}

.nav-link {
  color: #ffffff !important;
}

.menu i {
  color: #ffffff;
  font-size: 1.8rem;
}

.titulo {
  padding-top: 9rem;
}

#linea {
  border-color: #303030;
  border-style: dashed;
  margin-left: 5%;
  margin-right: 5%;
}

main {
  min-height: 100vh;
  justify-content: center;
  margin: 4rem 4rem 2rem 4rem;
  /*position: relative;*/
}

.contenidopaginaprincipal {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin: 4rem 2rem;
}
.contenidopaginaprincipal .nosotrosMedia {
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 1rem;
  max-width: 80%;
}
.contenidopaginaprincipal .nosotrosTexto {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 1rem;
  color: #303030;
  max-width: auto;
}

.contenidoConsejos {
  /*padding-top: 1rem;
  padding-left: 10%;
  padding-right: 10%;*/
  margin-top: 4rem;
  font-size: 18px;
  padding: 0 2rem;
  color: #303030;
}

.contenidoproductos {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.contenidoproductos .contenedorCategoria {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(20, 30, 5, 0.6);
  border-radius: 1rem;
  color: #ffffff;
  list-style-type: none;
  text-align: center;
}
.contenidoproductos .contenedorCategoria .imagenCategoria {
  border-radius: 1rem;
  margin: 1rem 0;
  width: 99%;
}
.contenidoproductos .contenedorCategoria .tituloCategoria {
  color: #ffffff;
  font-size: 25px;
}

.contenidocontacto {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 2rem;
  margin: 4rem 0;
}
.contenidocontacto .infocontacto {
  display: flex;
  align-content: stretch;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
.contenidocontacto .infocontacto .inforedes {
  border: 2px solid #ffffff;
  padding: 1rem 1rem;
  background-color: #141e05;
  border-radius: 1rem;
}
.contenidocontacto .contact {
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #ffffff;
  padding: 1rem 1rem;
  background-color: #141e05;
  border-radius: 1rem;
  font-size: x-large;
  color: #ffffff;
  min-height: auto;
}

.footer {
  padding-bottom: 1rem !important;
  background-color: rgba(20, 30, 5, 0.6) !important;
  backdrop-filter: blur(35px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.iconos {
  filter: invert(100%);
  width: 3rem;
}

.redesFooter {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redesFooter ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.redesFooter li {
  display: inline-flex;
  margin: 0.5rem;
  list-style-type: none;
  image-rendering: optimizeQuality;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.copyright li {
  display: inline-flex;
  justify-content: center;
  list-style-type: none;
  image-rendering: optimizeQuality;
}

#h6Copyright {
  text-align: center;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
