
    @mixin grid-container {
        display: grid;
        gap: 1rem;
        margin: 4rem 4rem;
        }
  

  @mixin category-container {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    text-align: center;
    vertical-align: middle;
    background-color: #607848;
    border-radius: 1rem;
    color: #ffffff;
    list-style-type: none;
    text-align: center;
  }
  

  @mixin contact-container {
    display: inline-block;
    border: 2px solid #ffffff;
    padding: 1rem 1rem;
    background-color: #607848;
    border-radius: 1rem;
    font-size: x-large;
    color: #ffffff;
    height: fit-content;
  
    label,
    input,
    textarea {
      display: block;
      width: 100%;
      font-size: 12pt;
      line-height: 24pt;
    }
  
    input {
      margin-bottom: 24pt;
    }
  
    span {
      font-size: 8pt;
    }
  
    em {
      color: #fEC195;
    }
  
    input,
    textarea {
      border: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      background: #f0f0d8;
      padding-left: 5px;
      outline: none;
    }
  
    input:focus,
    textarea:focus {
      border: 1px solid #FEC195;
    }
  
    textarea {
      resize: none;
      margin-bottom: 2rem;
    }
  
    ::selection {
      background: #ffc7b8;
    }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
      border: 1px solid #FEC195;
      -webkit-text-fill-color: #2A293E;
      -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }