header {
    width: 100%;
    position: fixed;
    z-index: 2;
    
    #navbar {
        background-color: #607848 !important;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin:0 !important;
              
        .logoCasaTerra {
          padding: 0;
          margin: 0;
          width: 15rem;
          image-rendering: optimizeQuality;
        }

        a {
          margin: 0;
        }
    }
}
.collapse:not(.show) .nav-link {
  font-size: 1.1rem;
  color: #ffffff !important;
  padding: 0 1.5rem !important;
}

.menu:focus {
  box-shadow: none;
}

.nav-link {
  color: #ffffff !important;
}


.menu i {
  color: #ffffff;
  font-size: 1.8rem;
}
   
    
    
      
      
      
      
      