//Pagina principal
main {
    min-height:100vh;
    justify-content: center;
    margin: 0rem 4rem 2rem 4rem;
    /*position: relative;*/
  }
.contenidopaginaprincipal {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;

    .nosotrosMedia {
        display: flex;
        justify-content: center;
        align-items: start;
        border-radius: 1rem;
        max-width: 80%;
      }
      .nosotrosTexto {
        display: flex;
        justify-content: center;
        align-items:start;
        font-size: 1rem;
        color: #303030;
        max-width: 80%;
      }
  }

//Consejos
.contenidoConsejos {
    /*padding-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;*/
    margin-top: 4rem;
    font-size: 18px;
    padding: 0 2rem;
    color: #303030;
  }

//Productos
.contenidoproductos {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
        .contenedorCategoria {
        display: inline-block;
        height: fit-content;
        width:fit-content;
        text-align: center;
        vertical-align: middle;
        background-color:#607848;
        border-radius: 1rem;
        color: #ffffff;
        list-style-type: none;
        text-align: center;
        .imagenCategoria {
            border-radius: 1rem;
            margin: 1rem 0;
            width: 99%;
          }
          .tituloCategoria {
            color: #ffffff;
            font-size: 25px;
          }
    }
  }
//Contacto  
.contenidocontacto {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 0 2rem;
    margin: 4rem 0;
    height: fit-content !important;
    
    .infocontacto {
        display: flex;
        align-content: stretch;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height:fit-content;

        .inforedes {
            border: 2px solid #ffffff; 
            padding: 1rem 1rem; 
            background-color: #607848;
            border-radius: 1rem;

            .sociales {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 1.4rem;

                .iconopagina {
                    width: 5rem;
                    height: 5rem;
                    filter: invert(100%);
                  } 
              }
          }

          .contenedorMapa {
            width: 100%;
            height:fit-content;
            border: 2px solid #ffffff; 
            padding: 1rem 1rem; 
            background-color: #607848;
            border-radius: 1rem;
            text-align: center;
            font-size: x-large;
            color: #ffffff;

            .mapa {
                border-radius: 1rem;
              }

            P {
                margin: 0%;
            }
          }

    }

    .contact {
        display: inline-block; 
        border: 2px solid #ffffff; 
        padding: 1rem 1rem; 
        background-color: #607848;
        border-radius: 1rem;
        font-size: x-large;
        color: #ffffff;
        height: fit-content;

                  
          label, input, textarea {
            display: block;
            width: 100%;
            font-size: 12pt;
            line-height: 24pt;
            
          }
          
          input {
            margin-bottom: 24pt;
          }
          
          span {
            font-size: 8pt;
          }
          
          em {
            color: #fEC195;
            
          }
          
          input, textarea {
            border: none;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            background: #f0f0d8;
            padding-left: 5px;
            outline: none;
          }
          
          input:focus, textarea:focus {
            border: 1px solid #FEC195;
          }
          
          textarea {
            resize: none;
            margin-bottom: 2rem;
          }
                    
          ::selection {
            background: #ffc7b8;
          }
          
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          textarea:-webkit-autofill,
          textarea:-webkit-autofill:hover,
          textarea:-webkit-autofill:focus {
            border: 1px solid #FEC195;
            -webkit-text-fill-color: #2A293E;
            -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
            transition: background-color 5000s ease-in-out 0s;
          }
      }
    .contenedorEnviar{
        display: flex;
        justify-content: center;
    }  
  }



  //Registro

  .contenidoregistro {
    display:grid;
    justify-content: center;
    font-size: x-large;    
  }
  .contenedorRegistro {    
    align-content: center;
    border: 2px solid #ffffff; 
    padding: 1rem 1rem; 
    background-color: #607848;
    border-radius: 1rem;
    font-size: x-large;
    color: #ffffff;    
    }
  
  
  