// Pagina Principal
main {
  justify-content: center;
}

.contenidopaginaprincipal {
  @include grid-container;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  

  .nosotrosMedia {
    max-width: 80%;
  }

  .nosotrosTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #303030;
    max-width: 80%;
  }
}

// Consejos
.contenidoConsejos {
  margin: 4rem 4rem;
  font-size: 18px;
  padding: 0 2rem;
  color: #303030;
}

// Productos
.contenidoproductos {
  @include grid-container;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;

  .contenedorCategoria {
    @include category-container;
    border: #ffffff solid 2px;

    .imagenCategoria {
      border-radius: 1rem;
      margin: 1rem 0;
      width: 99%;
    }

    .tituloCategoria {
      color: #ffffff;
      font-size: 25px;
    }
  }
}

// Contacto
.contenidocontacto {
  @include grid-container;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 2rem;
  margin: 4rem 0;
  height: fit-content !important;

  .infocontacto {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: fit-content;

    .inforedes {
      border: 2px solid #ffffff;
      padding: 1rem 1rem;
      background-color: #607848;
      border-radius: 1rem;

      .sociales {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1.4rem;

        .iconopagina {
          width: 5rem;
          height: 5rem;
          filter: invert(100%);
        }
      }
    }

    .contenedorMapa {
      width: 100%;
      height: fit-content;
      border: 2px solid #ffffff;
      padding: 1rem 1rem;
      background-color: #607848;
      border-radius: 1rem;
      text-align: center;
      font-size: x-large;
      color: #ffffff;

      .mapa {
        border-radius: 1rem;
      }

      p {
        margin: 0%;
      }
    }
  }

  .contact {
    @include contact-container;
  }

  .contenedorEnviar {
    display: flex;
    justify-content: center;
  }
}

// Registro
.contenidoregistro {
  display: grid;
  justify-content: center;
  font-size: x-large;
  margin: 4rem 2rem;

  .contenedorRegistro {
    align-content: center;
    border: 2px solid #ffffff;
    padding: 1rem 1rem;
    background-color: #607848;
    border-radius: 1rem;
    font-size: x-large;
    color: #ffffff;
  }
}
  
  
  
  