.titulo {
  padding-top: 9rem;
  font-size: 2rem;
  margin-left: 10%;
  opacity: 0;
  transform: translateY(20px); 

  animation: fadeFromBottom 1s ease-out forwards;

  @keyframes fadeFromBottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}