body {
    font-size: 16px;
    font-family: "Overpass", sans-serif;
    color:#303030;
    flex-direction: column;
    background-image: url(../../assets/wallpaper.png);
    backdrop-filter: blur(8px);
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }